<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.expen">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Expen">
        <activity android:name=".DisplayEntriesActivity"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".SearchItemActivity"
            android:parentActivityName=".ShoppingSessionActivity">

        </activity>
        <activity android:name=".ScanBarcodeActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".ShoppingSessionActivity" />
        <activity android:name=".ShoppingSessionsListActivity" />
        <activity android:name=".AddCategoryActivity" />
        <activity android:name=".IncomeCategoryActivity" />
        <activity android:name=".ExpenseCategoryActivity" />
        <activity android:name=".AddEntryActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>