<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.expen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Expen">
        <activity android:name=".ShoppingSessionActivity"></activity>
        <activity android:name=".ShoppingSessionsListActivity" />
        <activity android:name=".ShowCategoryEntriesActivity" />
        <activity android:name=".AddCategoryActivity" />
        <activity android:name=".IncomeCategoryActivity" />
        <activity android:name=".ExpenseCategoryActivity" />
        <activity android:name=".AddEntryActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>